<section class="">
    <header class="">
        <h2 class="">
            <a href="{{url}}">{{name}}</a>
        </h2>
        <a class="" href="{{url}}">More {{> "icons/arrow"}}</a>
    </header>

    <div class="">
        {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="5"}}
            {{#foreach posts}}
                {{> "loop-minimal"}}
            {{/foreach}}
        {{/get}}
    </div>
</section>