{{!< default}}

<main class="">
    <div class="">
        <section class="">
            <h1 class="">Latest</h1>
        </section>

        {{#get "posts" include="authors" limit="all"}}
            <div class="">
                <div class="">
                    {{#foreach posts}}
                        {{> "loop-grid"}}
                    {{/foreach}}
                </div>
            </div>
        {{/get}}
    </div>
</main>